/* Reset básico para asegurar altura total */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Wrapper principal para el contenido entre navbar y footer */
.content-wrapper {
    min-height: calc(100vh - 56px - 170px) !important; /* navbar: 56px, footer: ~120px */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #343B48; /* bg-light de Bootstrap */
}

/* Opcional: evitar que el footer quede pegado al contenido si hay poco */
footer {
    margin-top: auto;
}

.btn-success{
  background-color: #00B520 !important;
}

.btn-danger{
  background-color: #FB2E01 !important;
}

.btn-success:disabled,
.btn-success[disabled] {
  opacity: 1 !important;
}

.btn-danger:disabled,
.btn-danger[disabled] {
  opacity: 1 !important;
}
